
p {
  margin-left: 30px;
  font-size: small;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; 
}

p span {
  margin-left: -30px;
  font-size: 130% !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

